/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: rgb(30, 34, 43);
    margin: 0px;
    padding: 0px;
}
#Spz {
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 50px;
}#Spz2 {
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    width: 100vw;
    height: 20px;
}
#title {
    color: white;
    font-family: 'Google Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /* width: 108px;
    align-self: center; */
    /* position: absolute;  */
    text-align: center;
    
    
}
.slog {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Google Sans', sans-serif;
}
#dumb {
    border-radius: 5px;
    top: 132px;
    margin: 0px;
    padding: 0px;
    width: 71px;
    height: 28px;
    left: 41vw;
    position: absolute;
    background-color: rgba(255, 255, 76, 0.918);
}
#Dumby {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Google Sans', sans-serif;
    left: 2px;
    position: absolute;
    top: 0px;
}
#Terminal {
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 22, 22);
    width: 500px;
    height: 50px;
    /* left: 55vh; */
    top: 230px;

}
#Cmd {
    font-family: 'Source Code Pro', sans-serif;
    color: rgb(73, 192, 83);
    left: 13px;
    top: 27%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
#Cmd2 {
    font-family: 'Source Code Pro', sans-serif;
    color: rgb(255, 255, 255);
    left: 230px;
    top: 27%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}